# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
venv/
backend/venv/

# Node.js
node_modules/
frontend/node_modules/

# Build files
dist/
frontend/dist/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log
npm-debug.log*